<html>
    <head>
        {{template "bootstrap-header" .}}
        <title>Dodanie lotniska</title>
    </head>
    <body>
        {{template "navbar" .}}
        <h2 class="text-center pt-5">Dodaj nowe lotnisko</h2>
        <form action="/airport" method="POST" style="margin: auto; width: 50%;">
            <div class="form-group pt-3">
              <input type="text" class="form-control" name="Name" placeholder="Nazwa lotniska">
            </div>
            <div class="form-group pt-3 pb-3">
                <input type="text" class="form-control" name="Country" placeholder="Kraj lotniska">
            </div>
            <button type="submit" class="btn btn-primary">Dodaj</button>
        </form>
        {{template "footer" .}}
    </body>
</html>
