<!doctype html>
<html lang="en">
    <head>
        {{template "bootstrap-header" .}}
        <title>Strona domowa</title>
    </head>
    <body>
        {{template "navbar" .}}
        <h3 class="text-center pt-5">Rekomendator lotów to aplikacja za pomocą której można dodawać nowe lotniska <br> i znajdować najoptymalniejsze połączenia między nimi!</h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Go_Logo_Blue.svg" alt="Go logo" width="300" height="200" style="display: block;margin-left: auto;margin-right: auto;margin-top: 200px;"><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Neo4j-logo_color.png" alt="Neo4j logo" width="300" height="100" style="display: block;margin-left: auto;margin-right: auto;">
        {{template "footer" .}}
    </body>
</html>