<html>
    <head>
        {{template "bootstrap-header" .}}
        <title>Znajdź połączenie</title>
    </head>
    <body>
        {{template "navbar" .}}
        <h2 class="text-center pt-5">Wyszukaj najlepsze połączenie</h2>
        <form action="/path" method="POST" style="margin: auto; width: 50%;">
            <div class="dep-box">
                <label for="dep">Lotnosko początkowe:</label>
                <select id="dep" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name='departure'>
                    {{range $val := .}}
                        <option value='{{$val.Name}}'> {{$val.Name}} </option>
                    {{end}}
                </select>
            </div>
            <div class="des-box">
                <label for="des">Lotnosko końcowe:</label>
                <select id="des" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name='destination'>
                    {{range $val := .}}
                        <option value='{{$val.Name}}'> {{$val.Name}} </option>
                    {{end}}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Szukaj</button>
            </form>
        {{template "footer" .}}
    </body>
</html>