<html>
    <head>
        {{template "bootstrap-header" .}}
        <title>Znajdź połączenie</title>
    </head>
    <body>
        {{template "navbar" .}}
        <h1>Wyszukaj połączenie</h1>

        <form action="/path" method="POST">
        <select type='number' name='departure'>
            {{range $val := .}}
                <option value='{{$val.Name}}'> {{$val.Name}} </option>
            {{end}}
        </select>
        <select type='number' name='destination'>
            {{range $val := .}}
                <option value='{{$val.Name}}'> {{$val.Name}} </option>
            {{end}}
        </select>
        <div><input type="submit" value="Save"></div>
        </form>
        {{template "footer" .}}
    </body>
</html>