<html>
    <head>
        {{template "bootstrap-header" .}}
        <title>Lista lotnisk</title>
    </head>
    <body>
        {{template "navbar" .}}
        {{if .}}
        <table class="table" style="margin: auto; width: 70%;">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Kraj</th>
                <th scope="col">Połączenia przychodzące</th>
                <th scope="col">Połączenia wychodzące</th>
              </tr>
            </thead>
            <tbody>
            {{range $index, $val := .}}
              <tr>
                <th scope="row">{{$index}}</th>
                <td>{{$val.Name}}</td>
                <td>{{$val.Country}}</td>
                <td><a href=/connections/in/{{$val.Name}}>link</a></td>
                <td><a href=/connections/out/{{$val.Name}}>link</a></td>
              </tr>
            {{end}}
            </tbody>
        </table>
        {{else}}
        <h2 class="text-center pt-5">Brak dostępnych połączeń</h2>
        {{end}}
        {{template "footer" .}}
    </body>
    
</html>
